## Answer 1

for loop used to repeatedly execute a block of code for a fixed number of a times
Example - using a for loop tp print out number from 0 to 5 :

In [ ]:
for i in range(0,6) :
    print(i)

for loop is also used to iterate over elements in a list :
Example :

In [ ]:
l = [1,2,3,4,5,'sahil','singla',89.965,78.98]
for i in l :
    print(i)

while loop is used to repeat a block of code as long as certain condition can't complete
Example -

In [3]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## Answer 2

In [4]:
sum = 0
product = 1
for i in range(1,11):
    product = product*i
    sum = sum+i
    
print('sum of first 10 natural number is : ', sum)
print('product of first 10 natural number is : ', product)

sum of first 10 natural number is :  55
product of first 10 natural number is :  3628800

In [5]:
sum = 0
product = 1
count = 1
while count < 11:
    sum = sum + count
    product = product*count
    count = count+1
print('sum of first 10 natural number is : ', sum)
print('product of first 10 natural number is : ', product)

sum of first 10 natural number is :  55
product of first 10 natural number is :  3628800

## Answer 3

In [10]:
unit = float(input("Number of Units: "))
if(unit>0 and unit <=100):
    print(float(100*4.5))
elif(unit>100 and unit<= 200):
    print(float((100*4.5)+(unit-100)*6))
elif(unit>200 and unit<=300):
    print(float((100*4.5)+(100*6)+(unit-200)*10))
elif(unit>300):
    print(float((100*4.5)+(100*6)+(100*10)+(unit-300)*20))

Number of Units:  67

450.0

## Answer 4

In [3]:
## By using for loop
l = []
c = []
for i in range(1,101) :
    l.append(i)
    cube = i**3
    if(cube%4==0 or cube%5==0):
        c.append(i)
print('The list of cube of first 100 natural number that are diveded by 4 or 5 are : ',c,end=' ')

The list of cube of first 100 natural number that are diveded by 4 0r 5 are :  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [6]:
## by using while loop
l = []
c = []
i = 1
while(i<=100):
    l.append(i)
    i = i+1
    cube = i**3
    if(cube%4==0 or cube%5==0):
        c.append(i)
print('The list of cube of first 100 natural number that are diveded by 4 or 5 are : ', c , end=' ')

The list of cube of first 100 natural number that are diveded by 4 or 5 are :  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

## Answer 5

In [ ]:
string = "i want to become a data scientist"
vowels = "aeiou"
count = 0
for i in string:
    if(i in vowels):
        count = count+1
print("The No. of vowein string are: ",count)